*,
html {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    background-color: #F4F4F2;
}

.container {
    display: flex;
    flex-direction: column;
}


/*--- Navbar ---*/

.container-navbar {
    display: flex;
    justify-content: space-between;
    background-color: #F4F4F2;
    border-bottom: 1px solid gray;
    height: 8vh;
}

/* Profile */

.container-profile {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block; /* Pastikan gambar berperilaku sebagai blok untuk mencegah spasi ekstra */
}


/* Menu */

.container-menu {
    display: flex;
    align-items: center;
}

.ul-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.li-menu {
    font-size: 25px;
    list-style-type: none;
    padding: 10px;
    margin: 20px;
}

.li-menu:hover {
    background-color: #E8E8E8;
    /* transition: .5s ease-in-out; untuk transisi ketika dihover*/ 
    border-radius: 10px;
}

.a-menu {
    color: black;
    text-decoration: none;
}


/* Search-bar */

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.search-bar input {
    padding: 10px 10px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
}


/*--- End Navbar ---*/